.container {
    background-color:cadetblue ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgb(216, 169, 108);
}

.titulo-cabecalho {
    font-size: 40px;
    font-weight:500;
}

.links-cabecalho {
    font-size: 25px;
    font-weight:500;
}

main {
    background-color: white;
}

.bio-info{
    background-color:cadetblue;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items:center;
    justify-content: space-around;
   
}

.bio-info img{
    border-radius: 300px;
    width: 350px;
}

.text-profile {
    font-size: 20px;
    background-color: white;
    margin: 10px 180px;
    padding: 20px 20px;
    border-radius: 10px;
}